<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.example.BaseTest.Listener">

        </listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/002E3X744/IdeaProjects/ECommersWebsite">
        <classes><class name="org.example.TestScript.LoginTest">
            </class></classes></test></suite>